@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Geist;
    src: url(./Fonts/Geist-v1.4.01/otf/Geist-Regular.otf);
}

@font-face {
    font-family: Parkinsans;
    src: url(./Fonts/Parkinsans-Regular.ttf);
}




body {
    font-family: Parkinsans;
}